body {
    color: rgb(51, 36, 18);
    box-sizing: border-box;
    background-size: cover;
    background-image:linear-gradient(rgba(255, 222, 192, 0.35), rgba(255, 222, 192, 0.35)), url("https://cdn.wallpapersafari.com/9/4/mQSACk.jpg");
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
    align-items: center;
}

.home, .my-recepts {
    padding: 0;
    margin: 0 0 18px 23px;
    font-size: 46px;
    font-style: italic;
    box-shadow: 12px 7px 20px 2px;
    padding: 5px 15px;
    border-radius: 4px;
}

.navigation {
    display: flex;
    flex-direction: row;
    margin: 0;
}

a {
    text-decoration: none;
    color: bisque;
    font-size: 20px;
}

#type {
    color: #fff;
    background: #eb4c3a;
    width: 270px;
    height: 30px; 
}

input {
    width: 350px;
    height: 27px;
}

span {
    font-size: x-large;
}

.navigation li{
    font-style: italic;
    font-size: 20px;
    list-style: none;
    display: inline;
    margin: 30px;
    padding: 3px 20px;
    border-radius: 5px;
    box-shadow: 6px 3px 13px 10px;
}

.navigation li:hover, a:hover{
    color: rgb(31, 22, 11);
    background-color: bisque;
}

.login, .register, .add{
    border-radius: 5px;
    padding: 20px;
    margin: 100px auto;
    max-width: 40vw;
    z-index: 1;
    background-color: bisque;
    opacity: 0.9;
}

.reg-form, .log-form, .add-form, .edit-form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 20em;
    text-align: center;
    margin: auto;
}

label {
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
    color: rgb(41, 28, 12);
    margin: 20px;
}

.owner, button{
    background-color: #940606;
    font-size: 16px;
    color: white;
    padding: 5px 25px;
    margin: auto 10px auto 0px;
    border: none;
    border-radius: 4px;
    width: 50%;
}

button {
    background-color: #ec1010;
    font-size: 16px;
    color: white;
    padding: 12px 30px;
    margin: 25px auto 15px auto;
    border: none;
    border-radius: 4px;
    width: 50%;
}

button:hover {
    background-color: #e45252;
}

.add-sec h1 , .edit-sec h1{
    text-align: center;
    font-style: italic;
    color: rgb(41, 28, 12);
    box-shadow: 0px 0px 20px 1px;
    border-radius: 4px;
    margin: 20px auto 50px auto;
    padding: 5px 0;
}

.delishes {
    display: flex;
}

.delish-card-sec {
    box-shadow: 0px 0px 20px 1px;
    margin: 50px;

}

.details-container{
    box-sizing: border-box;
    display: flex;
    font-size: 24px;
    margin: auto;
    transform: translate(41px, 50px);
    max-width: 90vw;
    padding-bottom: 50px;
}

.details-container .img {
    max-width: 50vw;
}

.hearts {
    max-width: 25px;
}

.other-recepts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.otherRecept img {
    max-width: 350px;
    border-radius: 3px; 
}
.otherRecept {
    border-bottom: solid 2px rgb(53, 24, 3);
} 

.delishes {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    grid-gap: 100px;
}

.otherRecept {
    list-style: none;
}

.userBut-comment {
    margin-top: 25px;
    border-radius: 4px;
    background-color: bisque;
}

.user{
    margin: 0;
}

.page-footer{  
    display: flex;
}

.page-footer p {
    margin: auto;
    font-style: italic;
    font-weight: bolder;
}

@media all and (max-width: 1200px) {
    .navigation li{
        font-size: 16px;
        display: inline;
        margin: 5px;
        padding: 3px 12px;
        border-radius: 5px;
        box-shadow: 6px 3px 13px 10px;
    }

    header h2 {
        padding: 0;
        margin: 0 0 10px 13px;
        font-size: 32px;
        font-style: italic;
        box-shadow: 12px 7px 20px 2px;
        padding: 5px 15px;
        border-radius: 4px;
    }
}

@media all and (max-width: 700px) {
    .navigation li{
        font-size: 10px;
        display: inline;
        margin: 2px;
        padding: 2px 9px;
        border-radius: 5px;
        box-shadow: 6px 3px 13px 10px;
    }

    header h2 {
        padding: 0;
        margin: 0 0 7px 9px;
        font-size: 26px;
        font-style: italic;
        box-shadow: 12px 7px 20px 2px;
        padding: 3px 11px;
        border-radius: 4px;
    }

    button {
        font-size: 12px;
        padding: 10px 25px;
        margin: 20px 10px;
        width: 40%;
    }
}

@media all and (max-width: 960px) {
    .input{
        
        width: 20vw; 
    }
}


